<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jike.mapper.job.JobRecordMapper">

    <sql id="selectComps">
        select
            env as env,
            execute_time as executeTime,
            id as id,
            name as name
        from tb_job_records
    </sql>

</mapper>