<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jike.mapper.score.UserScoreRecordMapper">

    <sql id="selectComps">
        select
            create_time as createTime,
            id as id,
            memo as memo,
            score as score,
            type as type,
            user_id as userId
        from tb_user_score_records
    </sql>

</mapper>