<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jike.mapper.order.GoodsMapper">

    <sql id="selectComps">
        select
            description as description,
            disabled as disabled,
            goods_tag as goodsTag,
            id as id,
            name as name,
            order_index as orderIndex,
            price as price,
            show_limit_tag as showLimitTag,
            type as type
        from tb_goods
    </sql>

</mapper>