<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jike.mapper.chat.GenConfigMapper">

    <!--<sql id="selectComps">
        select
            description,
            icon,
            id,
            instruction,
            order_index,
            title,
            type
        from tb_script_genre_configs
    </sql>
 -->
</mapper>