.gridContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 16px;
    padding-bottom: 0;
    overflow-y: auto;
}

.gridItem {
    /* 垂直排列内容 */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 200px;

    .gridItemName {
        color: white;
        margin-top: 8px;
    }
}


.gridItemCoverVideo {
    border-radius: 8px;
    object-fit: contain;
    width: calc(100px * 2);
    height: calc(56px * 2);
    width: 90%;
    background-color: gray;
}